.timeline {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.timeline h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: -1px;
  /* margin-bottom: 40px; */
}

.timeline-item {
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: start;
}

.year {
  font-family: 'IBM Plex Mono', monospace;
  opacity: 0.6;
}

.details h3 {
  margin: 0;
  font-weight: 500;
}

.details p {
  margin: 4px 0 0;
  opacity: 0.7;
}